
    .main {
        text-align: center;
        border-radius: 0.3cm;
        background-color: white;
        border-style: solid;
        border-color: black;
        border-width: 0.1cm;
        padding-bottom: 0.2cm;
        margin-left: 0.5cm;
        margin-top: 1cm;
        margin-right: 0.5cm;
        width: 90%;
    }

    button {
        font-size: small;
        border-radius: 0.1cm;
        cursor: pointer;
        color: blue;
        padding: 0.2cm;
        width: 100%;
    }

    button:hover {
        background-color: yellow;
    }

    h3 {
        font-size: medium;
    }

    i {
        font-size: small;
    }

    input {
        height: 0.5cm;
        width: 80%;
        font-size: medium;
        float: none;
        margin-right: 0;
        border-radius: 0.1cm;
        border-color: darkblue;
    }

    p {
        font-size: medium;
    }

    label {
        font-size: small;
        display: block;
        float: none;
        text-align: left;
        margin-left: 0.5cm;
        font-weight: bolder;
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 1cm;
        margin-left: 0;
        width: 100%;
    }

    #msg1, #msg2, #msg3 {
        color: red;
        font-size: small;
    }

    .a2 {
        padding-top: 0.2cm;
    }
