.button-class-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-class-1, .button-class-2 {
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

button {
    width: 80%;  
    font-size: small; 
    padding: 0.2cm;  
    height: auto;  
    cursor: pointer;
    border-radius: 0.2cm;
    background-color: white;
}

button:hover {
    background-color: black;
    color: white;
    border-radius: 0.3cm;
}

center {
    font-size: medium; 
}

.h1 {
    padding-top: 0.5cm; 
    font-size: small; 
}